@page {
    size: A4;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-size: 14px;
    font-family: 'Crimson Text', serif;
}

#download_bar {
    text-align: center;
    background-color: #e0e0e0;
}

#gutters {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
    padding-bottom: 1em;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    padding-top: 10px;
    padding-bottom: 5px;
    font-size: 1.5rem;
}

h2 {
    font-size: 1.2rem;
    margin-right: 1em;
    min-width: 4rem;
}

a {
    text-decoration: none;
    color: rgb(100, 100, 250);
}

#title_bar {
    margin-top: 10px;
    margin-bottom: 10px;
}

.flex_duo {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.title_duo {
    flex-basis: 100%;
}

.duo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.duo_1_header_2 {
    font-family: "Ubuntu Mono";
}

h3 {
    display: inline;
    font-size: 1rem;
    font-weight: 600;
}

hr {
    color: rgba(220, 220, 220, 0.9);
    max-width: 75%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tech_stack {
    font-family: "Ubuntu Mono";
    font-size: 1em;
}

ul li {
    margin-left: 1em;
}

ul li ul li {
    font-style: italic;
}

@media screen and (min-width:600px) {
    body {
        background-color: #e0e0e0;
    }

    .sheet {
        margin: 0 auto;
        background-color: white;
        max-width: 800px;
    }


    .flex_duo {
        flex-wrap: nowrap;
    }

    .title_duo {
        flex-basis: 4rem;
    }

}


@media print {
    #download_bar {
        display: none;
    }

    .sheet {
        width: 210mm;
        margin: 0 auto;
        background-color: white;
    }

    #gutters {
        padding-top: 5mm;
        padding-left: 15mm;
        padding-right: 15mm;
        padding-bottom: 5mm;
    }

    .flex_duo {
        flex-wrap: nowrap;
    }

    .title_duo {
        flex-basis: 4rem;
    }
}